<menu>
    <menuitem label='Administração'>
        <menu>
              <menuitem label='Programas'>
                  <icon>fa:file-code-o fa-fw blue</icon>
                  <action>SystemProgramList</action>
              </menuitem>
              <menuitem label='Grupos'>
                  <icon>fa:users fa-fw blue</icon>
                  <action>SystemGroupList</action>
              </menuitem>
              <menuitem label='Usuários'>
                  <icon>fa:user fa-fw blue</icon>
                  <action>SystemUserList</action>
              </menuitem>
        </menu>
    </menuitem>
    

    <menuitem label='Agenda'>
       <icon>fa:calendar fa-fw blue</icon>
       <action>Agenda</action>
    </menuitem>

    
    
    <menuitem label='Pacientes'>
       <icon>fa:group fa-fw blue</icon>
        <menu>
            <menuitem label='Cadastro do paciente'>
                <icon>fa:list-alt fa-fw blue</icon>
                <action>Paciente</action>
            </menuitem>
            <menuitem label='Prontuário médico'>
                <icon>fa:clipboard fa-fw blue</icon>
                <action>Prontuario</action>
            </menuitem>
        </menu>
    </menuitem>
    

    <menuitem label='Financeiro'>
       <icon>fa:usd fa-fw blue</icon>
        <menu>
            <menuitem label='Centro de custo'>
                <icon>fa:calculator fa-fw blue</icon>
                <action>Prontuario</action>
            </menuitem>
            <menuitem label='Contas a pagar'>
                <icon>fa:money fa-fw blue</icon>
                <action>Paciente</action>
            </menuitem>
            <menuitem label='Contas a receber'>
                <icon>fa:money fa-fw blue</icon>
                <action>Prontuario</action>
            </menuitem>
             <menuitem label='Fluxo de caixa'>
                <icon>fa:book fa-fw blue</icon>
                <action>Prontuario</action>
            </menuitem>
             <menuitem label='TISS'>
                <icon></icon>
                <action>Prontuario</action>
            </menuitem>
             </menu>
    </menuitem>
    
    <menuitem label='Configurações'>
       <icon>fa:cog fa-fw blue</icon>
        <menu>
            <menuitem label='Convênios'>
                <icon>fa:life-saver fa-fw blue</icon>
                <action>ConvenioMedicoList</action>
            </menuitem>
            <menuitem label='Tipos de contatos'>
                <icon>fa:phone fa-fw blue</icon>
                <action>TipoContatoList</action>
            </menuitem>
            <menuitem label='Cadastro Médico'>
                <icon>fa:list-alt fa-fw blue</icon>
                <action>Prontuario</action>
            </menuitem>
            <menuitem label='Especialidades Médicas'>
                <icon>bs:tasks blue</icon>
                <action>EspecialidadeMedicaList</action>
            </menuitem>
             <menuitem label='Prescrições'>
                <icon>fa:file-text-o fa-fw blue</icon>
                <action>Prontuario</action>
            </menuitem>
             <menuitem label='Atestado Médico'>
                <icon>fa:file-text-o fa-fw blue</icon>
                <action>Prontuario</action>
            </menuitem>
             </menu>
    </menuitem>
    
    

</menu>